<div class="row">
  <div class="col-12">
    <h3>My Bookings</h3>
    <% current_user.bookings.each do |booking| %>
      <%= booking.event.name %>
      <%= booking.event.description %>
      <%= booking.event.date %>
      <% if booking.confirmed? %>
        <span class="text-success">confirmed</span>
        <%#= link_to 'Cancel', host_event_booking_confirm_path(event_id: @event.id, booking_id: booking.id), method: :patch %>
      <% else %>
        <%= booking.status %>
      <% end %>
    <% end %>
  </div>
</div>
