// Import Google fonts
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&family=Lato:wght@300;400&family=Miniver&family=Monoton&display=swap');

// font-family: 'Josefin Sans', sans-serif;
// font-family: 'Lato', sans-serif;
// font-family: 'Miniver', cursive;
// font-family: 'Monoton', cursive;
// Define fonts for body and headers

$body-font: 'Josefin Sans', sans-serif;
$headers-font: 'Lato', sans-serif;
$display-font: 'Monoton', cursive;
$cursive-font: 'Miniver', cursive;

// To use a font file (.woff) uncomment following lines
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";
