h1, h2, h3, h4, h5 {
  font-family: $headers-font;
  font-weight: 300;
}

h1, h2 {
  letter-spacing: 4px;
}

a {
}

hr {
  color: grey !important;
  border-color: grey !important;
}

.text-gold {
  color: $gold;
}
