<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello, <%= @user.name %></h1>
    <p>A booking for your event <%= @booking.event.name %> has been cancelled by <%= @booking.user.name %></p>
    <p>Please check your host dashboard for further information.</p>
    <p>MealVille Team</p>
  </body>
</html>
