
<div class="container wrap d-flex flex-column align-items-center justify-content-center">
  <h1 class="text-center ">Booking requested!</h1>
  <div class="container d-flex p-4 justify-content-center ">
    <%= image_tag 'check-solid.svg', style: "width: 160px;" %>
  </div>
  <div class="container d-flex justify-content-center p-4 ">
    <h3>Thank you!</h3>
  </div>
  <div class="container d-flex flex-column align-items-center p-4 ">
    <p class="fs-5">Your host has been notified and will confirm <%= link_to "your booking", dashboard_path%> shortly.</p>
    <p class="fs-5">An email will be sent to email registered in your account once the host has confirmed your booking.</p>
  </div>

  <div class="container d-flex justify-content-center p-4 ">
    <%= link_to "Home", root_path, class: 'btn btn-outline-primary' %>
  </div>
</div>
