<%#= Index page for all the event listings (shown after browse all) %>
<div class="wrap bg-2">
  <p><%= "You have #{@events.count} Matching" %>
    <%= @events.count == 1 ? 'Result.' : 'Results.' %></p>
  <%#= image_tag "background.jpeg", class:"background-image bg-2" %>
  <div class="container my-5 d-flex justify-content-center gap-3 flex-wrap py-5 ">
    <% @events.each do |event| %>
      <%= link_to event_path(id: event.id), class:"text-decoration-none text-black" do %>
        <%= render 'shared/event_card', event: event %>
      <% end %>
    <% end %>
  </div>
</div>
