<div class="container d-flex flex-column align-items-center ">
  <h1 class="text-center">Frequently Asked Questions</h1>
  <div class="accordion accordion-flush accordion-dark bg-dark-green w-75 p-5 " id="accordionFlushExample">
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingOne">
        <button class="accordion-button bg-dark-green collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
          How can i host an event?
        </button>
      </h2>
      <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body bg-dark-green">After you've logged in, you can simply press the button "Become a host" which will lead you to a page where you can create an event.</div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingTwo">
        <button class="accordion-button bg-dark-green collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
          What is your refund policy?
        </button>
      </h2>
      <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body bg-dark-green">We have a full refund policy for cancellation before 48 hrs and 50% refund policy for cancellation after 48 hrs to an event.</div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingThree">
        <button class="accordion-button bg-dark-green collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
          Can I cancel my booking?
        </button>
      </h2>
      <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body bg-dark-green">Yes, You can cancel your booking anytime but please see our refund Policy as there may be charges applied to it.</div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingFour">
        <button class="accordion-button bg-dark-green collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseOne">
          Do I have to be vaccinated to attend these events?
        </button>
      </h2>
      <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body bg-dark-green">We strongly advise for any customers to be fully vaccinated and observe social distancing where possible but It's upto the host's criteria for attending their events.</div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingFive">
        <button class="accordion-button bg-dark-green collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseOne">
          What about food allergies and requirements?
        </button>
      </h2>
      <div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-headingFive" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body bg-dark-green">Different cultural food may contain ingredients that are not suitable for some customers and these food may not be possible to be modified according to one's need. but for anu further question please contact the host.</div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingSix">
        <button class="accordion-button bg-dark-green collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSix" aria-expanded="false" aria-controls="flush-collapseOne">
          Do I need to bring anything to verify my identity?
        </button>
      </h2>
      <div id="flush-collapseSix" class="accordion-collapse collapse" aria-labelledby="flush-headingSix" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body bg-dark-green">Yes, we strongly advise you to bring a valid ID with your full name which confirms your identity.</div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingSeven">
        <button class="accordion-button bg-dark-green collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSeven" aria-expanded="false" aria-controls="flush-collapseOne">
          Who do i contact if there is a misconduct at the event?
        </button>
      </h2>
      <div id="flush-collapseSeven" class="accordion-collapse collapse" aria-labelledby="flush-headingSeven" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body bg-dark-green">We, at Mealville take any reports of misconduct very seriously. Please contact us at <a href="mailto:contact@mealville.xyz">contact@mealville.xyz</a> if you wish to report it.</div>
      </div>
    </div>
    <hr>
    <div class="d-flex flex-column align-items-center">
      <p>If you have any more questions, Please feel free to contact us.</p>
      <button class="btn btn-outline-primary">
        Contact us
      </button>
    </div>
  </div>
</div>
