<div class="container d-flex flex-column align-items-center ">
  <h1 class="text-center">Frequently Asked Questions</h1>
  <div class="accordion accordion-flush accordion-dark bg-dark-green w-75 p-5 " id="accordionFlushExample">
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingOne">
        <button class="accordion-button bg-dark-green collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
          How can I host an event?
        </button>
      </h2>
      <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body bg-dark-green">
          After you've logged in, you can click on "Become a Host", which will allow you to create an event on a separate page.
        <br>
          Click on "Connect to Stripe" to start hosting events. First, you will need to create an account with Stripe if you do not have one.</div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingTwo">
        <button class="accordion-button bg-dark-green collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
          What is your refund policy?
        </button>
      </h2>
      <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body bg-dark-green">We have a full refund policy for cancellation with at least 48 hours and a 50% refund policy for cancellation within 48 hours of an event.</div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingThree">
        <button class="accordion-button bg-dark-green collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
          Can I cancel my booking?
        </button>
      </h2>
      <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body bg-dark-green">Yes, you can cancel your booking anytime, but please review our refund policy as cancellation charges may apply.</div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingFour">
        <button class="accordion-button bg-dark-green collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseOne">
          Do I have to be vaccinated to attend these events?
        </button>
      </h2>
      <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body bg-dark-green">We strongly advise our customers to be fully vaccinated at the event, follow the local COVID rules, and observe social distancing where possible.</div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingFive">
        <button class="accordion-button bg-dark-green collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseOne">
          What if I have food allergies and requirements?
        </button>
      </h2>
      <div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-headingFive" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body bg-dark-green">Different cultural foods may contain ingredients that may not suit some customers, so we recommend contacting the hosts and seeking more information on their food preferences before attending the event.</div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingSix">
        <button class="accordion-button bg-dark-green collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSix" aria-expanded="false" aria-controls="flush-collapseOne">
          Do I need to bring anything to verify my identity?
        </button>
      </h2>
      <div id="flush-collapseSix" class="accordion-collapse collapse" aria-labelledby="flush-headingSix" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body bg-dark-green">Yes, we strongly advise you to bring a valid photo ID to confirm your identity.</div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingSeven">
        <button class="accordion-button bg-dark-green collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSeven" aria-expanded="false" aria-controls="flush-collapseOne">
          Who do I contact if there is any misconduct at the event?
        </button>
      </h2>
      <div id="flush-collapseSeven" class="accordion-collapse collapse" aria-labelledby="flush-headingSeven" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body bg-dark-green">Mealville takes any misconduct or misbehaviour very seriously. Our top priority is to ensure our customers are safe and comfortable at the event. Don't hesitate to email us at <a href="mailto:contact@mealville.xyz">contact@mealville.xyz</a> to report any such incident.</div>
      </div>
    </div>
  </div>
</div>
