<%# <div class="hero-image">
  <div class="hero-text">
    <h1>MealVille</h1>
    <button> <%= link_to 'Browse', events_path, class:"text-decoration-none text-black"%>
  <%# </div> %>
<%# </div> %>

<div class="hero-image">
  <div class="container d-flex flex-column h-50 justify-content-center">
    <div class="row justify-content-center">
      <div class="hero-text col col-lg-12">
        <h1> <%= link_to 'MealVille', events_path, class:"text-decoration-none text-white" %> </h1>
        <div class="mb-3">
          <%= render 'shared/search_form' %>
        </div>
      </div>
    </div>
  </div>
</div>
