<div class="container d-flex flex-column align-items-center w-50">

    <h3 class="text-center">Terms of Service</h3>
   <p>
    If your country of residence or establishment is within the European Economic Area (“EEA”), Switzerland or the United Kingdom, the Terms of Service for European Users apply to you.

    If your country of residence or establishment is outside of the EEA, Switzerland, and the United Kingdom, the Terms of Service for Non-European Users apply to you.

    Terms of Service for Non-European Users
    Section 23 of these Terms contains an arbitration agreement and class action waiver that apply to all claims brought against MealVille in the United States. Please read them carefully.

    Last Updated: 10 February 2022

    Thank you for using MealVille!

    These Terms of Service (“Terms”) are a binding legal agreement between you and MealVille that govern your right to use the websites, applications, and other offerings from MealVille (collectively, the “MealVille Platform”).
    When used in these Terms, “MealVille,” “we,” “us,” or “our” refers to the MealVille entity set out on Schedule 1 with whom you are contracting.

    The MealVille Platform offers an online venue that enables users (“Members”) to publish, offer, search for, and book services.
    Members who publish and offer services are “Hosts” and Members who search for, book, or use services are “Guests.”
    Hosts offer food events (“Events”), activities, excursions, and events (“Experiences”), and a variety of travel and other services (collectively, “Host Services,” and each Host Service offering, a “Listing”).
    You must register an account to access and use many features of the MealVille Platform, and must keep your account information accurate. As the provider of the MealVille Platform, MealVille does not own, control, offer or manage any Listings or Host Services.
    MealVille is not a party to the contracts entered into directly between Hosts and Guests, nor is MealVille a real estate broker, travel agency, or insurer.
    MealVille is not acting as an agent in any capacity for any Member, except as specified in the Payments Terms of Service (“Payment Terms”). To learn more about MealVille’s role see Section 16.

    We maintain other terms and policies that supplement these Terms like our Privacy Policy, which describes our collection and use of personal data, and our Payments Terms, which govern any payment services provided to Members by the MealVille payment entities (collectively "MealVille Payments").

    If you are a Host, you are responsible for understanding and complying with all laws,
  </p>
    <h6>Cancellation Issues, Refunds and Booking Modifications.</h6>
  <p>

    Cancellations, Travel Issues, and Refunds. In general, if as a Guest you cancel a Reservation,
    the amount refunded to you is determined by the cancellation policy that applies to that Reservation.
    But, in certain situations, other policies take precedence and determine what amount is refunded to you.
    If something outside your control forces you to cancel a Reservation, you may be eligible for a partial or full refund under our Extenuating Circumstances Policy.
    If the Host cancels, or you experience a booking Issue (as defined in our Guest Refund Policy),
    you may be eligible for rebooking assistance or a partial or full refund under the Guest Refund Policy.
    Different policies apply to certain categories of Listings; for example Experiences Reservations are governed by the Experiences Guest Refund Policy.
    See each Additional Legal Term or Policy for details about what is covered, and what refund applies in each situation.

    Booking Modifications.
    Guests and Hosts are responsible for any booking modifications they agree to make via the MealVille Platform or direct MealVille customer service to make on their behalf ("Booking Modifications"), and agree to pay any additional amounts, fees, or taxes associated with any Booking Modification.


  </p>
</div>
