.card {
  /* Add shadows to create the "card" effect */
  height: auto;
  width: 360px;
  transition: transform 0.3s;
  overflow: hidden;

  &:hover {
  .card-img {
    transform: scale(1.2);
    transition: transform 0.3s;
  }
  }

  .card-img-overlay {
    display: flex;
    flex-direction: column;
    justify-content: end;
    background: linear-gradient(32deg, #000000ab, transparent);
    padding: 6px 1rem;
  }

  p {
    margin-bottom: 0;
  }
}

.card img{
  height:263px;
  width:100%;
  object-fit: cover;
}

.confirm-card {
  padding: 0;
}

.confirm-card img {
  width: 100%;
  height: auto;
}

.card-title {
  color: $gold;

  h1 {
    font-size: 22px;
    font-weight: bold;
    letter-spacing: 2px;
  }
}

.card-divider {
  display: flex;
  gap: 30px;
}

.cards {
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
}
