.form-control, .form-select {
  background-color: transparent;
  border-color: $gold;

  svg {
    color: white;
  }

  &:focus {
    background-color: transparent;
  }

  &::placeholder {
    color: white;
    opacity: 0.8;
  }

  @media screen and (max-width: 420px){
    height: 60px;
  }
}

input[type=file]::file-selector-button {
  padding: .2em .4em;
  border-radius: 0;
  background-color: transparent;
}
