.form-control, .form-select {
  background-color: transparent;
  border-color: black;

  &:focus {
    background-color: transparent;
  }

  &::placeholder {
    opacity: 0.8;
  }

  @media screen and (max-width: 420px){
    height: 60px;
  }
}
