<div class="container">
  <div class="row">
    <div class="col-12">
      <%= @event.name %>
      <% @event.photos.each do |photo| %>
        <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
      <% end %>
    </div>
  </div>
</div>
