<h1>All Reviews</h1>
<div>
  <% @reviews.each do |review| %>
    <p>Review by: <%= review.by_user_id %></p>
    <p>Review for: <%= review.for_user_id %></p>
    <p><%= review.rating %></p>
    <p><%= review.comment %></p>
  <% end %>
</div>
